This code relies on the tables in the "uncleaned data" text files to be copied into a file called data.txt

In [1]:
import pandas as pd

In [15]:
path = 'data.txt'
data = []
with open(path, 'r') as file:
    for line in file:
        parts = line.split(maxsplit=1)
        if len(parts) == 2:
            data.append(parts)

# Create a DataFrame with the extracted data
df = pd.DataFrame(data)
df.head()

   0                                  1
0  1  State monthly sales volume data\n
1  2     State monthly sales tax data\n
2  3   State annual sales volume data\n
3  4      State annual sales tax data\n
4  5  NABCA monthly sales volume data\n

In [16]:
columns = ['ID', 'Source Type']
df.columns = columns
df['Source Type'] = df['Source Type'].str.strip()
df.head()

  ID                      Source Type
0  1  State monthly sales volume data
1  2     State monthly sales tax data
2  3   State annual sales volume data
3  4      State annual sales tax data
4  5  NABCA monthly sales volume data

In [17]:
df.to_csv('D:\Desktop\\data_source_codes.csv')