In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data/proj_4_feat_target_var_set.csv')
df.head()

,fips_code,state_id,state_name,high_tourist_border_sales,year,niaaa_pop_21_plus,census_total_pop,census_total_pop_21_plus,census_percent_pop_21_plus,census_percent_pop_18_24,...,bea_personal_income_dollars,bea_disp_inc_dollars,bea_percapita_personal_income_dollars,bea_percapita_disp_inc_dollars,census_median_household_inc_dollars,census_percent_pop_in_poverty_est,niaaa_total_beer_vol_consumed_gallons,niaaa_legal_adult_per_capita_beer_consumed_gallons,ba_craft_beer_produced_gallons,ba_legal_adult_per_capita_craft_beer_produced_gallons
0,1,AL,Alabama,0,2010,3439923,4785298,3426273,0.716,0.102,...,162068.8,148862.1,33849,31091,40474,0.172,101835000,29.60,NaN,NaN
1,2,AK,Alaska,1,2010,494781,713985,494078,0.692,0.105,...,35374.3,32703.9,49543,45803,64576,0.125,15476350,31.28,NaN,NaN
2,4,AZ,Arizona,0,2010,4496526,6413737,4502443,0.702,0.099,...,216223.6,198815.2,33774,31055,46789,0.188,140015325,31.14,NaN,NaN
3,5,AR,Arkansas,0,2010,2082760,2921606,2074340,0.710,0.100,...,94127.0,86387.0,32218,29569,38307,0.153,53429000,25.65,NaN,NaN
4,6,CA,California,0,2010,26311028,37349363,26293952,0.704,0.106,...,1609997.5,1431825.6,43138,38364,57708,0.163,651673303,24.77,NaN,NaN

In [3]:
df.shape[0]

612

In [4]:
df = df.dropna()

In [5]:
df.shape[0]

561

In [6]:
df.dtypes

fips_code                                                  int64
state_id                                                  object
state_name                                                object
high_tourist_border_sales                                  int64
year                                                       int64
niaaa_pop_21_plus                                          int64
census_total_pop                                           int64
census_total_pop_21_plus                                   int64
census_percent_pop_21_plus                               float64
census_percent_pop_18_24                                 float64
census_percent_pop_25_34                                 float64
census_percent_pop_35_44                                 float64
census_percent_pop_45_54                                 float64
census_percent_pop_55_64                                 float64
census_percent_pop_65_plus                               float64
census_percent_pop_male                                  float64
census_percent_pop_female                                float64
census_percent_pop_married                               float64
census_percent_pop_widowed                               float64
census_percent_pop_divorced                              float64
census_percent_pop_separated                             float64
census_percent_pop_never_married                         float64
ed_census_percent_pop_less_hs                            float64
ed_census_percent_pop_only_hs                            float64
ed_census_percent_pop_some_college_or_assoc              float64
ed_percent_pop_college_grad_only                         float64
ed_percent_pop_grad_prof_degree                          float64
census_percent_employed                                  float64
census_percent_unemployed                                float64
census_percent_armed_forces_employment                   float64
census_percent_not_in_labor_force                        float64
brfss_drinking_culture_surrogate_metric_percent_binge    float64
tpc_state_beer_tax_rates_dollar_gal                      float64
bea_personal_income_dollars                              float64
bea_disp_inc_dollars                                     float64
bea_percapita_personal_income_dollars                      int64
bea_percapita_disp_inc_dollars                             int64
census_median_household_inc_dollars                        int64
census_percent_pop_in_poverty_est                        float64
niaaa_total_beer_vol_consumed_gallons                      int64
niaaa_legal_adult_per_capita_beer_consumed_gallons       float64
ba_craft_beer_produced_gallons                           float64
ba_legal_adult_per_capita_craft_beer_produced_gallons    float64
dtype: object

In [7]:
df = df.drop(columns=['state_id', 'state_name'])
df.shape

(561, 41)

In [9]:
df.to_csv('../Data/training_data.csv')